body{
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    text-align: center;
}
div#box{
    width: 683px;
    height: 48px;
    padding: 6px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    position: absolute;
}
div#words{
    position: relative;
    left: 785px;
    float: right;
}
div#word1{
    display: inline-block;
    padding-left: 15px;
}
div#word2{
    display: inline-block;
    padding-left: 15px;
}